# Xcode
build/
DerivedData/
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad
xcuserdata/

# OS
.DS_Store
.Trashes

# Swift Package Manager
.build/
Packages/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# CocoaPods
Pods/
